In [1]:
SELECT *, IIF(MONTH(METTOL) IN (6,7,8), 'IGEN', 'NEM') AS 'Nyári szezon'
FROM Foglalas
WHERE GYERMEK_SZAM = 0 AND UGYFEL_FK = 'laszlo2'

FOGLALAS_PK,UGYFEL_FK,SZOBA_FK,METTOL,MEDDIG,FELNOTT_SZAM,GYERMEK_SZAM,Nyári szezon
561,laszlo2,42,2016-04-06,2016-04-10,2,0,NEM

In [1]:
 SELECT szh.TIPUS, YEAR(f.METTOL) AS 'Év', MONTH(f.METTOL) AS 'Hónap', COUNT(*)
 FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID 
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
WHERE DATEDIFF(day, f.METTOL, F.MEDDIG) >=5 
szh.TIPUS, YEAR(f.METTOL), MONTH(f.METTOL)

: Msg 102, Level 15, State 1, Line 5
Incorrect syntax near 'szh'.